server:
  port: 8090
spring:
  application:
    name: loans
  datasource:
    url: jdbc:mysql://localhost:3307/loansdb
    username: root
    password: root
    #    url: jdbc:h2:mem:testdb
    #    driver-class-name: org.h2.Driver
    #    username: sa
    #    password: ''
    #  h2:
    #    console:
    #      enabled: true
  jpa:
    #    database-platform: org.hibernate.dialect.H2Dialect
    #    hibernate:
    #      ddl-auto: update
    show-sql: true
  sql:
    init:
      mode: always
  config:
    import:
      - "optional:configserver:http://localhost:8071"
#      - "application_prod.yml"
#      - "application_qa.yml"
  profiles:
    active:
      - "prod"
#  rabbitmq:
#    host: "localhost"
#    port: 5672
#    username: "guest"
#    password: "guest"

management:
  endpoints:
    web:
      exposure:
        include: "*"
#build:
#  version: "3.0"
#
#loans:
#  message: "Welcome to EazyBank loans related local APIs "
#  contactDetails:
#    name: "Amaal Grega - Developer"
#    email: "amaal@eazybank.com"
#  onCallSupport:
#    - (452) 456-2176
#    - (546) 764-8934